/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define WHITE 0
#define BLUE 1
#define RED 2

/ {
  keymap {
    compatible = "zmk,keymap";

    white_layer { bindings = <
    // ╭─────────┬─────────┬─────────┬─────────┬─────────╮    ╭─────────┬─────────┬─────────┬─────────┬─────────╮
        &kp Q     &kp W     &kp E     &kp R     &kp T          &kp Y     &kp U     &kp I     &kp O     &kp P    
    // ├─────────┼─────────┼─────────┼─────────┼─────────┤    ├─────────┼─────────┼─────────┼─────────┼─────────┤
        &kp A     &kp S     &kp D     &kp F     &kp G          &kp H     &kp J     &kp K     &kp L     &kp SEMI 
    // ├─────────┼─────────┼─────────┼─────────┼─────────┤    ├─────────┼─────────┼─────────┼─────────┼─────────┤
        &bt BT_CLR &kp X    &kp C     &kp V     &kp B          &kp N     &kp M     &kp COMMA &kp DOT   &bt BT_CLR
    // ╰─────────┴─────────┴─────────┼─────────┼─────────┤    ├─────────┼─────────┼─────────┼─────────┼─────────╯
                            &sk LCTRL &kp SPACE &sl RED        &sl BLUE  &kp BSPC  &kp ENTER
    //                     ╰─────────┴─────────┴─────────╯    ╰─────────┴─────────┴─────────╯
    >;};

    blue_layer { bindings = <
    // ╭─────────┬─────────┬─────────┬─────────┬─────────╮    ╭─────────┬─────────┬─────────┬─────────┬─────────╮
        &kp Q     &kp W     &kp E     &kp R     &kp T          &kp Y     &kp U     &kp I     &kp O     &kp P    
    // ├─────────┼─────────┼─────────┼─────────┼─────────┤    ├─────────┼─────────┼─────────┼─────────┼─────────┤
        &kp A     &kp S     &kp D     &kp F     &kp G          &kp H     &kp J     &kp K     &kp L     &kp SEMI 
    // ├─────────┼─────────┼─────────┼─────────┼─────────┤    ├─────────┼─────────┼─────────┼─────────┼─────────┤
        &kp Z     &kp X     &kp C     &kp V     &kp B          &kp N     &kp M     &kp COMMA &kp DOT   &kp SLASH
    // ╰─────────┴─────────┴─────────┼─────────┼─────────┤    ├─────────┼─────────┼─────────┼─────────┼─────────╯
                            &sk LCTRL &kp SPACE &sl RED        &sl BLUE  &kp BSPC  &kp ENTER
    //                     ╰─────────┴─────────┴─────────╯    ╰─────────┴─────────┴─────────╯
    >;};

    red_layer { bindings = <
    // ╭─────────┬─────────┬─────────┬─────────┬─────────╮    ╭─────────┬─────────┬─────────┬─────────┬─────────╮
        &kp Q     &kp W     &kp E     &kp R     &kp T          &kp Y     &kp U     &kp I     &kp O     &kp P    
    // ├─────────┼─────────┼─────────┼─────────┼─────────┤    ├─────────┼─────────┼─────────┼─────────┼─────────┤
        &kp A     &kp S     &kp D     &kp F     &kp G          &kp H     &kp J     &kp K     &kp L     &kp SEMI 
    // ├─────────┼─────────┼─────────┼─────────┼─────────┤    ├─────────┼─────────┼─────────┼─────────┼─────────┤
        &kp Z     &kp X     &kp C     &kp V     &kp B          &kp N     &kp M     &kp COMMA &kp DOT   &kp SLASH
    // ╰─────────┴─────────┴─────────┼─────────┼─────────┤    ├─────────┼─────────┼─────────┼─────────┼─────────╯
                            &sk LCTRL &kp SPACE &sl RED        &sl BLUE  &kp BSPC  &kp ENTER
    //                     ╰─────────┴─────────┴─────────╯    ╰─────────┴─────────┴─────────╯
    >;};

  };
};
